.header-container{
	height: 85vh;
  overflow: hidden;
  background-size: 23% 23%,23% 23%;
  background-position: bottom left,bottom right;
  background-repeat: no-repeat, no-repeat;
}
.footer-container{
    width: 100%;
    margin: 4em 0;
}

@media screen and (max-width:800px){
  .header-container{
      height: 85vh;
      overflow: hidden;
      background-size: 30% 20%,30% 20%;
      background-position: bottom left,bottom right;
      background-repeat: no-repeat, no-repeat;
  }
}
