@import url("./normalize.css");
@import url("./color.css");
@import url("./grid.css");

/* COMPONENTS */
@import url("./landing.css");
@import url("./nav.css");
@import url("./settings.css");

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1,h2,h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2em;
}
h4,h5,h6{
  font-size: 1em;
  font-family: "Lato";
  font-weight: 300;
}
hr{
  opacity: .3;
}
a{
  color: #36b7ea;
  cursor: pointer;
}
strong{
  font-weight: 700 !important;
}
.page-container {
  margin-top: 2em;
}
.inline-block{
  display: inline-block;
}
.flex-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-row-spread {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flex-column-spread {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.hide {
  display: none !important;
}


/*BORDER STYLING*/

.small-border {
  border: 1px solid;
}
.small-left-border {
  border-left: 1px solid;
}
.small-top-border {
  border-top: 1px solid;
}
.small-bottom-border {
  border-bottom: 1px solid;
}

.small-right-border {
  border-right: 1px solid;
}

.medium-border {
  border: 2px solid;
}

.medium-left-border {
  border-left: 2px solid;
}

.medium-top-border {
  border-top: 2px solid;
}
.medium-bottom-border {
  border-bottom: 2px solid;
}

.medium-right-border {
  border-right: 2px solid;
}

/*FONT SIZING by EM*/

.font-size-one {
  font-size: 1em;
}

.font-size-one-and-half {
  font-size: 1.5em;
}

.font-size-two {
  font-size: 2em;
}

.font-size-two-and-half {
  font-size: 2.5em;
}

.font-size-three {
  font-size: 3em;
}

.font-size-four {
  font-size: 4em;
}

.font-size-five {
  font-size: 5em;
}

.font-size-six {
  font-size: 6em;
}

.font-size-seven {
  font-size: 7em;
}

/*FONT STYLING*/
.text-center{
  text-align: center !important;
}
.text-left{
  text-align: left !important;
}
.text-right{
  text-align: right !important;
}
.capitalize{
    text-transform: capitalize;
}
