.navbar-fixed {
  position: relative;
  z-index: 999;
}

.nav-left {
  display: flex;
}

.nav-links {
  list-style-type: none;
}

.nav-links a {
  color: #1b2733;
  text-decoration: none;
}

.nav-hover a:hover, .nav-hover span > a:hover, .nav-hover li a:hover, #nav-links li a:hover {
  background-color: white;
  color: #36b7ea;
  text-decoration: none;
}
